{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Reset Password</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Request Password Reset</button>
                <p class='text-muted'>This Feature Is Not Available For Now, Please Contact The Admin To Request a Password Reset!
                    Admin E-Mail: zakheathens@gmail.com
                <legend class="border-bottom mb-4"></legend>
            </div>
        </form>
    </div>
{% endblock content %}